{% extends './base.html' %}

{% block title %}
CALIDAD DEL AGUA
{% endblock %}

{% block body %}

<div class="br-derecha">

    <h1 class="text-center">EL AGUA, ELEMENTO ESENCIAL PARA LA VIDA</h1>
    <br class="row">Se encuentra amenazada por la contaminación, el uso excesivo y el cambio climático. Esta situación pone en riesgo la disponibilidad de agua potable segura para el consumo humano y el equilibrio de los ecosistemas. Es crucial tomar conciencia de la importancia de preservar la calidad del agua y adoptar medidas responsables para su cuidado. Entre estas medidas se encuentran: Reducir el consumo de agua, evitar el uso de pesticidas y fertilizantes químicos, Disponer de los residuos adecuadamente, Promover la educación ambiental.</br> Recordar que la calidad del agua es un problema que nos afecta a todos. De nuestras acciones individuales y colectivas depende garantizar este recurso vital para las presentes y futuras generaciones.
    ¡Protejamos el agua, protejamos la vida!
    </br>
    <a href="satelite" class="btn btn-primary">Satelite</a>

</div>

<footer class="container-fluid bg-dark text-white py-4 mt-5">
    <p class="text-center">Calidad Del Agua - 2024</p>
</footer>


<style>
    body {
        background-image: url("{{ url_for('static', filename='img/aguafin.png') }}");
        background-size: cover;
        background-position: center;
        height: 83vh;
        margin: 15;
    }

    .btn-primary {
        position: absolute;

    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: auto;
        height: 30px; /* Ajusta la altura según tus necesidades */
        margin: 2;
        padding: 10px;
    }

    .br-derecha {
        position: absolute;
        width: 20cm;
        top: 150px;
        text-align:justify;
        font-family:Calibri Light;
        font-size: 20px;
        left: 15cm; /* Mueve el contenido 10cm a la derecha */
    }
    .btn-primary {
        top: 430px;
        width: 4cm;
        left: 16cm; /* Coloca el botón en la segunda columna */
    }
</style>

{% endblock %}

